<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Sample</title>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    このページは、さっき作ったVM内で動いているRailsで生成された画面です　やったね<br>
    <br>
    ブラウザ ← unicorn ← Rails ← (MariaDB, Redis)<br>
    <br>
    <%= @user[:name] %><br>
    <br>
    <%= session[:session_data] %><br>
    <br>
    <%= @cache_data %>
  </body>
</html>
