<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    このページは、さっき作ったVM内で動いているRailsで生成された画面です　やったね<br>
    <br>
    ブラウザ ← unicorn ← Rails ← (MariaDB, Redis)<br>
    <br>
    <%= @user[:name] %><br>
    <br>
    <%= session[:session_data] %><br>
    <br>
    <%= @cache_data %><br>
    <br>
    <% cache(@user) do %>
      これはフラグメントキャッシュです userが更新されるまで、もしくはキャッシュの有効期限まで有効です。このセッションは <%= Time.zone.now %> 頃に作られました<br>
    <% end %>

    <hr>

    <button id="test_button">
      タイトルテスト
    </button>

    <br>

    <button id="mail_button">
      メールテスト 押したら10秒後にメール送信
    </button>

    <script>
      $(document).on("click", "button#test_button", function() {
        $("title").text("sample");
      });

      $(document).on("click", "button#mail_button", function() {
        $.get("/mail");
      });
    </script>
  </body>
</html>
