<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    このページは、さっき作ったVM内で動いているRailsで生成された画面です　やったね<br>
    <br>
    ブラウザ ← unicorn ← Rails ← (MariaDB, Redis)<br>
    <br>
    <%= @user[:name] %><br>
    <br>
    <%= session[:session_data] %><br>
    <br>
    <%= @cache_data %><br>
    <br>
    <button id="test_button">
      タイトルテスト
    </button>

    <script>
      $(document).on("click", "button#test_button", function() {
        $("title").text("sample");
      });
    </script>
  </body>
</html>
